.content {
  display: flex;
  justify-content: center;
}

.inner_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}

.action_buttons {
  margin: 10px 0 10px 0;
}

.add_button {
  margin-right: 5px;
}

.delete_button {
  margin-left: 5px;
}

.content_table {
  justify-content: center;
  width: 100%;
}

.page_title {
  margin-left: 20px;
}

.centered {
  text-align: center;
}

/**
  All possible icon colors for the corresponding power state
 */
.power_state_icon {
  text-align: center;
}

.power-state-icon-grey {
  color: gray;
}

.power-state-icon-red {
  color: red;
}

.power-state-icon-green {
  color: green;
}

.power-state-icon-yellow {
  color: yellow;
}

.power-state-icon-blue {
  color: dodgerblue;
}

@-webkit-keyframes pulse-red {
  0% { color: red; }
  50% { color: white; }
  100% { color: red; }
}

@-moz-keyframes pulse-red {
  0% { color: red; }
  50% { color: white; }
  100% { color: red; }
}

@-o-keyframes pulse-red {
  0% { color: red; }
  50% { color: white; }
  100% { color: red; }
}

@keyframes pulse-red {
  0% { color: red; }
  50% { color: white; }
  100% { color: red; }
}

.power-state-icon-red-pulsing {
  color: red;
  -webkit-animation: pulse-red 3s infinite; /* Safari 4+ */
  -moz-animation: pulse-red 3s infinite;    /* Mozilla Firefox 5+ */
  -o-animation: pulse-red 3s infinite;      /* Opera 12+ */
  animation: pulse-red 3s infinite;         /* IE10+, Mozilla Firefox 29+ */
}

@-webkit-keyframes pulse-green {
  0% { color: green; }
  50% { color: white; }
  100% { color: green; }
}

@-moz-keyframes pulse-green {
  0% { color: green; }
  50% { color: white; }
  100% { color: green; }
}

@-o-keyframes pulse-green {
  0% { color: green; }
  50% { color: white; }
  100% { color: green; }
}

@keyframes pulse-green {
  0% { color: green; }
  50% { color: white; }
  100% { color: green; }
}

.power-state-icon-green-pulsing {
  color: green;
  -webkit-animation: pulse-green 3s infinite; /* Safari 4+ */
  -moz-animation: pulse-green 3s infinite;    /* Mozilla Firefox 5+ */
  -o-animation: pulse-green 3s infinite;      /* Opera 12+ */
  animation: pulse-green 3s infinite;         /* IE10+, Mozilla Firefox 29+ */
}

@-webkit-keyframes pulse-yellow {
  0% { color: yellow; }
  50% { color: white; }
  100% { color: yellow; }
}

@-moz-keyframes pulse-yellow {
  0% { color: yellow; }
  50% { color: white; }
  100% { color: yellow; }
}

@-o-keyframes pulse-yellow {
  0% { color: yellow; }
  50% { color: white; }
  100% { color: yellow; }
}

@keyframes pulse-yellow {
  0% { color: yellow; }
  50% { color: white; }
  100% { color: yellow; }
}

.power-state-icon-yellow-pulsing {
  color: yellow;
  -webkit-animation: pulse-yellow 3s infinite; /* Safari 4+ */
  -moz-animation: pulse-yellow 3s infinite;    /* Mozilla Firefox 5+ */
  -o-animation: pulse-yellow 3s infinite;      /* Opera 12+ */
  animation: pulse-yellow 3s infinite;         /* IE10+, Mozilla Firefox 29+ */
}
