<div>
  <h2 class="page_title">All virtual machines</h2>
</div>
<div class="content">
  <div class="inner_content">
    <div class="action_buttons">
      <button mat-raised-button color="primary" class="add_button" (click)="onAddNewMachines()">Add new machine</button>
<!--      <button mat-raised-button class="delete_button" [disabled]="isSomeMachineSelected()" [mat-menu-trigger-for]="actionMenu">Actions</button>-->
<!--      <mat-menu #actionMenu xPosition="after">-->
<!--        <button mat-menu-item (click)="onAddToDeliveryGroup()">-->
<!--          <span>Add to delivery group</span>-->
<!--        </button>-->
<!--        <button mat-menu-item (click)="onAssignUsersToMachines()">-->
<!--          <span>Assign user(s)</span>-->
<!--        </button>-->
<!--      </mat-menu>-->
    </div>
    <div>
      <table mat-table id="content_table" [dataSource]="dataSource" class="mat-elevation-z3 content_table">
        <!-- select -->
<!--        <ng-container matColumnDef="select">-->
<!--          <th mat-header-cell *matHeaderCellDef>-->
<!--            <mat-checkbox (change)="$event ? masterToggle() : null"-->
<!--                          [checked]="selection.hasValue() && isAllSelected()"-->
<!--                          [indeterminate]="selection.hasValue() && !isAllSelected()"-->
<!--                          [aria-label]="checkboxLabel()">-->
<!--            </mat-checkbox>-->
<!--          </th>-->
<!--          <td mat-cell *matCellDef="let row">-->
<!--            <mat-checkbox (click)="$event.stopPropagation()"-->
<!--                          (change)="$event ? selection.toggle(row) : null"-->
<!--                          [checked]="selection.isSelected(row)"-->
<!--                          [aria-label]="checkboxLabel(row)">-->
<!--            </mat-checkbox>-->
<!--          </td>-->
<!--        </ng-container>-->

        <!-- machine name -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let machine">{{machine.name}}</td>
        </ng-container>

        <!-- delivery group name -->
        <ng-container matColumnDef="deliveryGroupName">
          <th mat-header-cell *matHeaderCellDef>Delivery group</th>
          <td mat-cell *matCellDef="let machine">{{machine.deliveryGroupName}}</td>
        </ng-container>

        <!-- catalog name -->
        <ng-container matColumnDef="catalogName">
          <th mat-header-cell *matHeaderCellDef>Machine catalog</th>
          <td mat-cell *matCellDef="let machine">{{machine.catalogName}}</td>
        </ng-container>

        <!-- assigned users -->
        <ng-container matColumnDef="assignedUsers">
          <th mat-header-cell *matHeaderCellDef>Assigned user(s)</th>
          <td mat-cell *matCellDef="let machine"><a mat-button color="primary" *ngIf="machineCountGreaterOne(machine)" (click)="showAssignedUsers(machine)">
            {{getCountOfAssignedUsersOfMachine(machine)}}
          </a>
            <p *ngIf="!machineCountGreaterOne(machine)">{{getAssignedUser(machine)}}</p>
          </td>
        </ng-container>

        <!-- power state -->
        <ng-container matColumnDef="powerState">
          <th mat-header-cell *matHeaderCellDef class="centered">State</th>
          <td mat-cell *matCellDef="let machine" class="power_state_icon">
            <mat-icon matTooltip="{{getPowerStateToolTip(machine)}}" [ngClass]="getPowerStateColor(machine)" matTooltipPosition="right">
              lens
            </mat-icon>
          </td>
        </ng-container>

        <!-- power actions -->
        <ng-container matColumnDef="powerActions">
          <th mat-header-cell *matHeaderCellDef class="centered">Actions</th>
          <td mat-cell *matCellDef="let machine" class="centered">
            <button mat-raised-button color="primary" [matMenuTriggerFor]="powerActionMenu">Actions</button>
            <mat-menu #powerActionMenu xPosition="after">
              <button mat-menu-item (click)="onAddMachinesToDeliveryGroup(machine)">
                <mat-icon>add_to_queue</mat-icon>
                <span>Add to delivery group</span>
              </button>
              <button mat-menu-item (click)="onAssignUsersToMachines(machine)">
                <mat-icon>assignment_ind</mat-icon>
                <span>Assign user(s)</span>
              </button>
              <button mat-menu-item (click)="onDelete(machine)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="performActionReset(machine)">
                <mat-icon>settings_backup_restore</mat-icon>
                <span>Reset</span>
              </button>
              <button mat-menu-item (click)="performActionRestart(machine)">
                <mat-icon>refresh</mat-icon>
                <span>Restart</span>
              </button>
              <button mat-menu-item (click)="performActionResume(machine)">
                <mat-icon>update</mat-icon>
                <span>Resume</span>
              </button>
              <button mat-menu-item (click)="performActionShutdown(machine)">
                <mat-icon>power_settings_new</mat-icon>
                <span>Shutdown</span>
              </button>
              <button mat-menu-item (click)="performActionSuspend(machine)">
                <mat-icon>lock</mat-icon>
                <span>Suspend</span>
              </button>
              <button mat-menu-item (click)="performActionTurnOff(machine)">
                <mat-icon>power_off</mat-icon>
                <span>Turn off</span>
              </button>
              <button mat-menu-item (click)="performActionTurnOn(machine)">
                <mat-icon>power</mat-icon>
                <span>Turn on</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
        <tr mat-row *matRowDef="let row; columns: columnHeaders;">
      </table>
    </div>
  </div>
</div>
