<div id="wizardsuccess_con" class="wizardsuccess_con">
  <mat-card id="wizardsuccess_con_card" class="wizardsuccess_con_card">
    <!-- icon -->
    <div id="wizardsuccess_icon_con" class="wizardsuccess-icon-con">
      <i class="material-icons md-10">check_circle</i>
    </div>

    <!-- heading -->
    <div id="wizardsuccess_header" class="wizardsuccess_header">
      <h2>Thank you for your order!</h2>
    </div>

    <!-- information -->
    <div id="wizardsuccess_info" class="wizardsuccess_info">
      <p>The virtual desktops are currently being prepared for you in the background. As soon as your virtual desktops are ready, you will be notified.
        <br>You can leave the page now or wait until a link is displayed that leads to your virtual desktop.</p>
    </div>

    <!-- loading spinner -->
    <div id="wizardsuccess_spinner" class="wizardsuccess_spinner">
      <mat-spinner mode="indeterminate" diameter="60"></mat-spinner>
    </div>

    <!-- navigation buttons -->
    <div id="navigation_con" class="wizardsuccess_navigation">
      <a mat-raised-button [routerLink]="'/dashboard'" color="primary">Back home</a>
    </div>
  </mat-card>
</div>
