/* MAIN DIV DESIGN */
.wizardsuccess_con {
  justify-content: center;
  display: flex;
}

.wizardsuccess_con_card {
  justify-content: center;
  width: 60%;
  margin: 20pt;
}

/* ICON DESIGN */
/* size */
.material-icons.md-10 {
  font-size: 10em;
}

/* alignment */
.material-icons {
  display: flex;
  justify-content: center;
  color: green;
}

.wizardsuccess_header {
  display: flex;
  justify-content: center;
}

.wizardsuccess_info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.wizardsuccess_spinner {
  display: flex;
  justify-content: center;
  margin: 20pt;
}

.wizardsuccess_navigation {
  display: flex;
  justify-content: center;
  margin: 20pt;
}
