<h1 mat-dialog-title>Add machine(s)</h1>
<mat-dialog-content [formGroup]="form">
  <p>Select the machine catalog to which you want to add the new machine(s)</p>
  <mat-form-field>
    <mat-select formControlName="catalogName" [(value)]="selectedMachineCatalog">
      <mat-option *ngFor="let catalog of machineCatalogNames" [value]="catalog">{{catalog}}</mat-option>
    </mat-select>
  </mat-form-field>
  <p>How many machines do you want to add?</p>
  <mat-form-field>
    <input matInput formControlName="machineCounter" type="number" min="1" value="{{machineCount}}" (change)="logNumbersOfCounts()" required>
    <mat-error>
      Minimum amount of virtual machines is '1'
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="dialogActions_div">
  <button mat-raised-button color="primary" (click)="onConfirmAction()">Add</button>
  <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
