<h1 mat-dialog-title>Delete machine(s)</h1>
<div mat-dialog-content>
  <p>{{deleteMachinesDialogMessage()}}</p>
</div>
<div mat-dialog-actions class="dialogActions_div">
  <button mat-raised-button color="primary" (click)="onConfirmAction()">Yes</button>
  <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
</div>
