.webServicesList_con {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.page_title {
  margin-left: 20px;
}

.webService-tbl {
  width: 75%;
}

.webService-card {
  margin: 20px;
}

.cardAction-con {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}
