<div>
  <div>
    <h2 class="page_title">Services</h2>
  </div>
  <div id="webServicesList_con" class="webServicesList_con">
    <table id="webServices_tbl" class="webService-tbl">
      <tr *ngFor="let webService of this.webServices">
        <td>
          <mat-card id="webService_card_{{webService.name}}" class="mat-elevation-z3">
            <div class="webService-card">
              <div id="webServiceIcon_con" class="webServiceIcon_con">
                <h1>Citrix</h1>
              </div>
              <div id="webServiceHeader_con" class="webServiceHeader_con">
                <h2>{{webService.name}}</h2>
              </div>
              <div id="webServiceDescr_{{webService.name}}_con" class="webCardDescr-con">
                <p [innerHTML]="webService.description"></p>
              </div>
              <div id="webServiceAction_con" class="cardAction-con">
                <a class="primary-btn" color="primary" mat-raised-button (click)="webServiceService.onOrderingSpecificService(webService.type)">Create</a>
              </div>
            </div>
          </mat-card>
        </td>
      </tr>
    </table>
  </div>
</div>
