<h1 mat-dialog-title>Add machine to delivery group</h1>
<mat-dialog-content [formGroup]="form">
  <p>Select the delivery group to which the selected machine should be assigned</p>
  <mat-form-field class="dialog_content">
    <mat-select formControlName="deliveryGroupName" [(value)]="selectedDeliveryGroup">
      <mat-option *ngFor="let group of deliveryGroups" [value]="group">{{group.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions class="dialogActions_div">
  <button mat-raised-button color="primary" (click)="onConfirmAction()">Add</button>
  <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
