<div>
  <div>
    <h2 class="page_title">Machine catalog</h2>
  </div>
  <div class="card_con">
    <mat-card class="mat-elevation-z3 wizard_card">
      <mat-card-title class="card_title">Create a machine catalog</mat-card-title>
      <mat-divider></mat-divider>
      <mat-horizontal-stepper linear #stepper labelPosition="bottom">
        <!-- Performance -->
        <mat-step label="Performance" state="performance" class="wizard_step" [stepControl]="performanceGroup" >
          <mat-divider></mat-divider>
          <form>
            <div class="card_content">
              <h3>Select one of the following performance level</h3>
              <p><b>Note:</b> The performance applies to each VM in your machine catalog.</p>
              <mat-accordion [hideToggle]="true">
                <mat-expansion-panel *ngFor="let performance of performanceLevels" (click)="selectPerformanceOnPanelClick(performance)">
                  <mat-expansion-panel-header class="custom_panel_header">
                    <mat-radio-group [(ngModel)]="selectedPerformance" name="performanceList">
                      <mat-radio-button class="custom_radio_button" [value]="performance.level"><h4>{{performance.viewLevel}}</h4></mat-radio-button>
                    </mat-radio-group>
                  </mat-expansion-panel-header>
                  <p>{{performance.levelDescription}}</p>
                  <div class="expanded_details" *ngIf="performance.level != 'custom'">
                    <table class="performance_details_table">
                      <tr>
                        <td>CPU(s)</td>
                        <td>{{performance.cpus}}</td>
                      </tr>
                      <tr>
                        <td>vRAM</td>
                        <td>{{performance.vram}} GB</td>
                      </tr>
                    </table>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </form>
          <form [formGroup]="performanceGroup">
            <div class="card_content">
              <h3>Configure the number of virtual machines to be created</h3>
              <table>
                <!-- Numbers of VMs -->
                <tr>
                  <td class="label_column">
                    <p class="label_value">Number of virtual machines</p>
                  </td>
                  <td class="label_column">
                    <p class="label_value"></p>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput formControlName="vmAmountController" type="number" min="{{minVms}}" required name="numOfVms">
                      <mat-error>
                        Minimum amount of virtual machines is '1'
                      </mat-error>
                    </mat-form-field>
                  </td>
                  <td class="label_column">
                    <p class="label_value"></p>
                  </td>
                </tr>
              </table>
            </div>
            <div id="navigation_start" class="navigation_con_start">
              <button id="nextButton" class="navigationNext-btn" mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!-- Hardware details -->

        <mat-step label="Hardware" state="hardware" class="wizard_step" *ngIf="customHardwareSelected()">
          <mat-divider></mat-divider>
          <form>
  <!--          <div class="card_content">-->
  <!--            <h3>Configure the number of virtual machines to be created</h3>-->
  <!--            <table>-->
  <!--              &lt;!&ndash; Numbers of VMs &ndash;&gt;-->
  <!--              <tr>-->
  <!--                <td class="label_column">-->
  <!--                  <p class="label_value">Number of virtual machines</p>-->
  <!--                </td>-->
  <!--                <td class="label_column">-->
  <!--                  <p class="label_value"></p>-->
  <!--                </td>-->
  <!--                <td>-->
  <!--                  <mat-form-field>-->
  <!--                    <input matInput formControlName="vmAmountController" type="number" min="{{minVms}}" required name="numOfVms">-->
  <!--                    <mat-error>-->
  <!--                      Minimum amount of virtual machines is '1'-->
  <!--                    </mat-error>-->
  <!--                  </mat-form-field>-->
  <!--                </td>-->
  <!--                <td class="label_column">-->
  <!--                  <p class="label_value"></p>-->
  <!--                </td>-->
  <!--              </tr>-->
  <!--            </table>-->
  <!--          </div>-->
            <div class="card_content">
              <h3>Configure the hardware for each virtual machine in the catalog</h3>
              <table>
                <!-- CPU -->
                <tr>
                  <td class="label_column">
                    <p class="label_value">Number of processors (CPUs)</p>
                  </td>
                  <td class="label_column">
                    <p class="label_value">{{minCpus}}</p>
                  </td>
                  <td>
                    <mat-slider thumbLabel min="{{minCpus}}" max="{{maxCpus}}" [(value)]="numOfCpus" name="processors"></mat-slider>
                  </td>
                  <td>
                    <p class="label_value">{{maxCpus}}</p>
                  </td>
                </tr>
                <!-- Memory -->
                <tr>
                  <td class="label_column">
                    <p class="label_value">Memory (RAM)</p>
                  </td>
                  <td class="label_column">
                    <p class="label_value">{{minMem}} GB</p>
                  </td>
                  <td>
                    <mat-slider thumbLabel min="{{minMem}}" max="{{maxMem}}" [(value)]="memory" [displayWith]="formatRamSizeLabel" name="memory"></mat-slider>
                  </td>
                  <td>
                    <p class="label_value">{{maxMem}} GB</p>
                  </td>
                </tr>
              </table>
            </div>
            <div id="navigation_step_hardware" class="navigation_con_inflow">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button class="navigationNext-btn" mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!-- Machine catalog details -->

        <mat-step label="Machine catalog" state="catalog" class="wizard_step" [stepControl]="machineCatalogGroup">
          <mat-divider></mat-divider>
          <form [formGroup]="machineCatalogGroup">
    <!--          <p><b>ActiveDirectory details</b></p>-->
    <!--          <div class="cardContent">-->
    <!--            <table>-->
    <!--              <tr>-->
    <!--                <td class="mcDetailLabel">-->
    <!--                  <p class="mcDetailParagraphs">Organization Unit (OU)</p>-->
    <!--                </td>-->
    <!--                <td>-->
    <!--                  <mat-form-field>-->
    <!--                    <input matInput formControlName="adOrgUnitController" required name="adOrgUnit">-->
    <!--                    <mat-error *ngIf="machineCatalogGroup.get('adOrgUnitController').hasError('required')">-->
    <!--                     Organization Unit is required-->
    <!--                    </mat-error>-->
    <!--                  </mat-form-field>-->
    <!--                </td>-->
    <!--              </tr>-->
    <!--            </table>-->
    <!--          </div>-->
            <div class="card_content">
              <h3>Machine catalog details</h3>
              <table>
                <!-- Machine catalog name -->
                <tr>
                  <td class="label_column">
                    <p class="label_value">Machine catalog name</p>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput formControlName="catalogNameController" required name="machineCatalogName">
                      <mat-error *ngIf="machineCatalogGroup.get('catalogNameController').hasError('required')">
                        Machine catalog name is required
                      </mat-error>
                    </mat-form-field>
                  </td>
                </tr>
                <!-- Machine catalog description -->
                <tr>
                  <td class="label_column">
                    <p class="label_value">Machine catalog description</p>
                  </td>
                  <td>
                    <mat-form-field>
                      <textarea matInput formControlName="catalogDescriptionController" name="machineCatalogDescription"></textarea>
                    </mat-form-field>
                  </td>
                </tr>
                <!-- Machine catalog schema -->
                <tr>
                  <td class="label_column">
                    <p class="label_value">Account naming scheme</p>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput formControlName="namingSchemeController" required (keyup)="onKey($event)" name="accountNamingScheme">
                      <mat-error *ngIf="machineCatalogGroup.get('namingSchemeController').hasError('required')">
                        Account naming scheme is required
                      </mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-icon color="primary" matTooltipClass="tool_tip" matTooltip="Used '#' will be replaced by the selected naming scheme type.&#13;Numeric: 'my-catalog-##' will be 'my-catalog-01'&#13;Alphabetic: 'my-catalog-##' will be 'my-catalog-AB'" matTooltipPosition="right" class="material-icons icon">help</mat-icon>
                  </td>
                </tr>
                <!-- Machine catalog schema type -->
                <tr>
                  <td class="label_column">
                    <p class="label_value">Account naming scheme type</p>
                  </td>
                  <td>
                    <mat-form-field>
                      <mat-select name="accountNamingSchemeType" formControlName="namingSchemeTypeController">
                        <mat-option *ngFor="let schemeType of accountNamingSchemeTypes" [value]="schemeType.type" (click)="onKey($event)">
                          {{schemeType.viewType}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td class="label_column">
                    <p class="label_value">Example:</p>
                  </td>
                  <td class="label_column scheme-example">
                    <input matInput readonly value="{{accountNamingSchemeExample}}" />
                  </td>
                </tr>
              </table>
            </div>
            <div id="navigation_inflow" class="navigation_con_inflow">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" (click)="setMachineCatalogDetails()" matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!-- Review -->

        <mat-step label="Review" state="review" class="wizard_step">
          <mat-divider></mat-divider>
            <div class="card_content">
              <h3>Take a look at your order and check the details.</h3>
              <!-- Hardware review -->
              <div class="review">
                <h3>Hardware</h3>
                <table id="hardwareReview_table">
                  <tr>
                    <td>Number of virtual machines</td>
                    <td>{{numOfVms}}</td>
                  </tr>
                  <tr>
                    <td>Number of processors (CPUs)</td>
                    <td>{{numOfCpus}}</td>
                  </tr>
                  <tr>
                    <td>Memory (RAM)</td>
                    <td>{{memory}} GB</td>
                  </tr>
                </table>
              </div>
              <!-- Machine catalog review -->
              <div class="catalog-details-review-con review">
    <!--            <table>-->
    <!--              <p><b>ActiveDirectory details</b></p>-->
    <!--              <tr>-->
    <!--                <td>Organization Unit (OU)</td>-->
    <!--                <td>{{adOrgUnit}}</td>-->
    <!--              </tr>-->
    <!--            </table>-->
                <h3>Machine catalog details</h3>
                <table>
                  <tr>
                    <td>Machine catalog name</td>
                    <td>{{name}}</td>
                  </tr>
                  <tr>
                    <td>Machine catalog description</td>
                    <td>{{description}}</td>
                  </tr>
                  <tr>
                    <td>Account naming scheme</td>
                    <td>{{accountNamingSchema}}</td>
                  </tr>
                  <tr>
                    <td>Account naming scheme type</td>
                    <td>{{schemeTypeViewValue}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <div id="navigation_end" class="navigation_con_end">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" (click)="onCreatingMachineCatalog()">Order now</button>
            </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>
  </div>
</div>
