.wizard_card {
  margin: 20px;
  padding: 0px;
}

.page_title {
  margin-left: 20px;
}

.wizard_step {
  width: 100%;
}

.card_title {
  margin: 15px !important;
}

.card_con {
  display: flex;
  justify-content: center;
}

.label_column {
  text-align: right;
}

.label_value {
  margin-right: 5px;
  margin-left: 5px;
}

.scheme-example {
 text-align: left;
}

.card_content {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.review {
  text-align: center;
}

.navigation_con_start {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.navigation_con_inflow {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.navigation_con_end {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.tool_tip {
  white-space: pre-line;
}

.catalog-details-review-con {
  padding-bottom: 10px;
}

.performance_radio_group {
  display: flex;
  flex-direction: column;
}

.expanded_details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.performance_details_table {
  width: 130px;
}

.custom_panel_header {
  padding: 0 10px;
}

.custom_radio_button {
  margin-left: 10px;
}

td {
  padding: 3px;
}
