<div id="login_div" class="content">
  <mat-card id="login_card" class="login-card">
    <form>
      <div class="login-logo">
        <img id="login-logo" src="{{logoPath}}">
      </div>
      <div>
        <h4>Welcome to the self-service portal of the Fachhochschule Südwestfalen</h4>
      </div>

      <div class="form-con">

        <div>
          <mat-error class="error-div" *ngIf="invalidateLogin">Username and password do not match!</mat-error>
        </div>

        <div>
          <mat-form-field class="login-input">
            <input matInput placeholder="Email" type="email" name="userMail" [(ngModel)]="userMail">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="login-input">
            <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password">
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button class="login-btn" color="primary" (click)=checkLogin()>Login</button>
        </div>

<!--        <div class="login-register-link">-->
<!--          <a mat-button href="{{registrationPage}}" target="_self">Not registered yet? Register here!</a>-->
<!--        </div>-->
      </div>
    </form>
  </mat-card>
</div>
