.toolbar {
  padding: 10px;
}

.toolbar-row {
  justify-content: space-between;
}

.home-section{
  display: flex;
  justify-content: flex-start;
}

.section-name-paragraph {
  padding-left: 25px;
}

.user-section {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.header_user_welcome {
  margin: 10px;
}

.header_user_settings {
  margin: 10px;
}

.settings_btn_con {
  padding: 10px;
}

img {
  width: 100%;
  max-width: 200px;
}
