<header>
  <mat-toolbar *ngIf="isUserLoggedIn | async as isLoggedIn" class="toolbar">
    <mat-toolbar-row class="toolbar-row">

      <div id="home-section-con" class="home-section">
        <a [routerLink]="dashboardUrl"><img id="header-logo" src="{{logoPath}}"></a>

        <!-- TODO: show page title -->
        <p class="section-name-paragraph">{{pageTitle}}</p>
      </div>

      <div id="user-section-con" class="user-section">
        <p class="header_user_welcome">{{userMail}}</p>

<!--        <button mat-icon-button [matMenuTriggerFor]="settings" aria-label="Settings">-->
<!--          <mat-icon>settings</mat-icon>-->
<!--        </button>-->
<!--        <mat-menu #settings="matMenu" >-->
<!--          <button mat-menu-item (click)="navigateToXenDesktopConfiguration()" [routerLink]="xendesktopConfigurationUrl">-->
<!--            <span>User settings</span>-->
<!--          </button>-->
<!--        </mat-menu>-->
        <button mat-raised-button *ngIf="isLoggedIn" (click)="onLogout()" [routerLink]="loginUrl" color="primary">Logout
        </button>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</header>
