<div>
  <div>
    <h2 class="page_title">Dashboard</h2>
  </div>
  <div id="dashboard_con" class="dashboard-con">
    <table id="dashboard_tbl">
      <tr>
        <td>
          <mat-card id="bookService_card">
            <div id="bookCard_header_con" class="card-header-con">
              <h2>Order a new service</h2>
            </div>
            <div id="bookCard_icon_con" class="card-icon-con">
              <i class="material-icons md-10">settings_system_daydream</i>
            </div>
            <div id="bookCard_descr_con" class="card-descr-con">
              <p>Create a service to manage virtual machines in your company.</p>
            </div>
            <div id="bookCard_action_con" class="card-action-con">
              <a class="primary-btn" color="primary" mat-raised-button (click)="dashboardService.navigateToWebServicesList()">Order new service</a>
            </div>
          </mat-card>
        </td>
        <td>
          <mat-card id="viewService_card">
            <div id="viewCard_header_con" class="card-header-con">
              <h2>View all ordered virtual machines</h2>
            </div>
            <div id="viewCard_icon_con" class="card-icon-con">
              <i class="material-icons md-10">search</i>
            </div>
            <div id="viewCard_descr_con" class="card-descr-con">
              <p>Take a look at all your ordered virtual machines.</p>
            </div>
            <div id="viewCard_action_con" class="card-action-con">
              <button class="primary-btn" color="primary" mat-raised-button (click)="dashboardService.navigateToUsersMachines()">Show virtual machines</button>
            </div>
          </mat-card>
        </td>
      </tr>
    </table>
  </div>
</div>
