/* DASHBOARD DESIGN */
.dashboard-con {
  display: flex;
  justify-content: center;
}

.page_title {
  margin-left: 20px;
}

/* CARD DESIGN */
/* general card */
.mat-card {
  min-width: 25em;
  min-height: 25em;
  margin: 5px;
}

/* card header */
.card-header-con {
  display: flex;
  justify-content: center;
}

/* card actions (footer)*/
.card-action-con {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* ICON DESIGN */
/* size */
.material-icons.md-10 {
  font-size: 10em;
}

/* alignment */
.material-icons {
  display: flex;
  justify-content: center;
}

/* BUTTON DESIGN */
/* alignment */
/*.mat-raised-button {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/
