.content {
  display: flex;
  justify-content: center;
  padding-top: 150pt;
}

.registration-card {
  padding: 20pt;
  margin: 20pt;
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 250pt;
}

.registration-input {
  width: 250px;
}

.registration-btn {
  width: 250px;
  margin: 15pt;
}

.registration-login-link {
  margin: 5pt;
}

.registration-logo {
  padding: 20px;
}

.form-con {
  text-align: center;
  width: 100%;
  align-self: center;
}

.error-div {
  margin: 25px;
}

img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
