<div id="registration_div" class="content">
  <mat-card id="registration_card" class="registration-card">
    <form>
      <div class="registration-logo">
        <img id="registration-logo" src="{{logoPath}}">
      </div>
      <div>
        <h4>Please enter a valid mail address and a password to register</h4>
      </div>

      <div class="form-con">

        <div>
          <mat-error class="error-div" *ngIf="!passwordMatchesConfirmed">Your entered password has to be at least 8 characters long!</mat-error>
        </div>
        <div>
          <mat-error class="error-div" *ngIf="!passwordReachedMinLength">Your confirmed password does not match to you entered password!</mat-error>
        </div>

        <div>
          <mat-form-field class="registration-input">
            <input matInput placeholder="Email" type="email" name="userMail" [(ngModel)]="userMail" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="registration-input">
            <input matInput placeholder="Password" type="password" name="userPassword" [(ngModel)]="userPassword" minlength="8" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="registration-input">
            <input matInput placeholder="Confirm password" type="password" name="userPasswordConfirm" [(ngModel)]="userPasswordConfirmed" minlength="8" required>
          </mat-form-field>
        </div>

        <div>
          <button mat-raised-button class="registration-btn" color="primary" (click)=onRegisterUser()>Register</button>
        </div>

        <div class="registration-login-link">
          <a mat-button href="{{loginPage}}" target="_self">Back to login!</a>
        </div>
      </div>
    </form>
  </mat-card>
</div>
