<div id="xen_settings_con" class="xen_settings_con">
  <form>
    <mat-card id="xen_settings_card">
      <div id="content_con">
        <p><b>ActiveDirectory Configuration for computer accounts</b></p>
        <table id="computer_account_tbl">
          <!-- Organization unit -->
          <tr>
            <td class="settings_label">
              <p>Organization unit</p>
            </td>
            <td>
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="xenDesktopOrgUnitComputers" name="orgUnitComputers">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <p><b>ActiveDirectory Configuration for user accounts</b></p>
        <table id="user_account_tbl">
          <!-- Organization unit -->
          <tr>
            <td class="settings_label">
              <p>Organization unit</p>
            </td>
            <td>
              <mat-form-field>
                <input matInput type="text" [(ngModel)]="xenDesktopOrgUnitUsers" name="orgUnitUsers">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
      <button id="save_settings_btn" class="save_settings_btn" mat-raised-button color="primary"
              (click)="onSaveXenDesktopConfiguration()">Save
      </button>
    </mat-card>
  </form>
</div>
