<h1 id="mat-dialog-title">Perform action</h1>
<div id="mat-dialog-content">
  <p>Do you really want to <b>"{{action.toLowerCase()}}"</b> machine: <b>"{{machine.name}}"</b>?</p>
</div>
<div mat-dialog-actions class="dialogActions_div">
  <button mat-raised-button color="primary" (click)="onConfirmAction()">Yes</button>
  <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
</div>
