<h1 mat-dialog-title>Assigned user(s)</h1>
<div mat-dialog-content>
  <p>Machine: <b>{{machine.name}}</b></p>
  <mat-card class="mat-elevation-z3">
    <table mat-table [dataSource]="dataSource">

      <!-- User principal name Column -->
      <ng-container matColumnDef="userPrincipalName">
        <th mat-header-cell *matHeaderCellDef> User principal name </th>
        <td mat-cell *matCellDef="let user"> {{user.userPrincipalName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </mat-card>
</div>
<div mat-dialog-actions class="dialogActions_div">
  <button mat-raised-button color="primary" (click)="onCloseDialog()">Close</button>
</div>
