<h1 mat-dialog-title>Assign user(s)</h1>
<div mat-dialog-content>
  <p>Select the user(s) you want to assign to the machine: {{machine.name}}</p>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.name}} </td>
    </ng-container>

    <!-- User principal name Column -->
    <ng-container matColumnDef="userPrincipalName">
      <th mat-header-cell *matHeaderCellDef> User principal name </th>
      <td mat-cell *matCellDef="let user"> {{user.userPrincipalName}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
</div>
<div mat-dialog-actions class="dialogActions_div">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="onConfirmAssignUserToMachine()">Assign</button>
  <button mat-raised-button color="primary" (click)="onCancelAssignUserToMachine()">Cancel</button>
</div>
