.card_con {
  display: flex;
  justify-content: center;
}

.page_title {
  margin-left: 20px;
}

.wizard_card {
  margin: 20px;
  padding: 0px;
  min-width: 750px;
}

.card_title {
  margin: 15px !important;
}

.wizard_step {
  width: 100%;
}

.card_content {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.label_column {
  text-align: right;
}

.label_value {
  margin-right: 5px;
  margin-left: 5px;
}

.custom-checkbox {
  display: flex;
  justify-content: center;
}

.navigation_con_start {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.navigation_con_inflow {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.navigation_con_end {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.material_table {
  margin: 20px;
}

table {
  width: 100%;
}

td {
  padding: 5px;
}
