<div>
  <div>
    <h2 class="page_title">Delivery group</h2>
  </div>
  <div id="card_con" class="card_con">
    <mat-card class="mat-elevation-z3 wizard_card">
      <mat-card-title class="card_title">Create a delivery group</mat-card-title>
      <mat-divider></mat-divider>
      <mat-horizontal-stepper linear #stepper labelPosition="bottom">
        <mat-step label="Details" state="details" class="wizard_step" [stepControl]="detailsGroup">
          <mat-divider></mat-divider>
          <form [formGroup]="detailsGroup">
              <div class="card_content">
                <h3>Delivery group details</h3>
                <table>
                  <tr>
                    <td class="label_column">
                      <p class="label_value">Delivery group name</p>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput required formControlName="nameController" name="deliveryGroupName">
                        <mat-error *ngIf="detailsGroup.get('nameController').hasError('required')">
                          Please enter a delivery group name
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td class="label_column">
                      <p class="label_value"></p>
                    </td>
                  </tr>
                  <tr>
                    <td class="label_column">
                      <p class="label_value">Group description</p>
                    </td>
                    <td>
                      <mat-form-field>
                        <input matInput formControlName="descriptionController" name="groupDescription">
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
              <h3>Select a machine catalog for this delivery group</h3>
              <div>
                <table>
                  <tr>
                    <td class="label_column">
                      <p class="label_value">Machine catalog</p>
                    </td>
                    <td>
                      <mat-form-field>
                        <mat-select [(value)]="selectedCatalog">
                          <mat-option *ngFor="let catalog of machineCatalogs" [value]="catalog">
                            {{catalog.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
                <div class="custom-checkbox">
                  <mat-checkbox formControlName="turnOnAfterCreationController" name="turnOnAddedMachines">
                    Turn on desktop(s) after delivery group creation
                  </mat-checkbox>
                </div>
              </div>
              <div id="navigation_start" class="navigation_con_start">
                <button id="nextButton" class="navigationNext-btn" (click)="getAvailableMachinesOfSelectedCatalog()"
                        mat-raised-button color="primary" matStepperNext>
                  Next
                </button>
              </div>
          </form>
        </mat-step>
        <mat-step label="User assignment">
          <mat-divider></mat-divider>
          <form>
            <div class="card_content">
              <h3>Assign users to several machines</h3>
              <p><b>Note:</b> You can add further machines to your delivery group after the creation.</p>
              <table mat-table [dataSource]="machines" class="material_table">
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="machineSelection.hasValue() && isAllSelected()"
                                  [indeterminate]="machineSelection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? machineSelection.toggle(row) : null"
                                  [checked]="machineSelection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>

                <!-- machine name -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Machine name </th>
                  <td mat-cell *matCellDef="let machine"> {{machine.name}} </td>
                </ng-container>

                <!-- already assigned users -->
                <ng-container matColumnDef="assignedUsers">
                  <th mat-header-cell *matHeaderCellDef> Assigned user </th>
                  <td mat-cell *matCellDef="let machine"> {{getAllAssignedUsersOfMachine(machine)}} </td>
                </ng-container>

                <!-- user assignment -->
                <ng-container matColumnDef="assignmentAction">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let machine">
                    <button mat-raised-button color="primary" (click)="onAssignUserToMachine(machine)">Assign</button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <div id="navigation_end" class="navigation_con_end">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" (click)="createDeliveryGroup()">Create</button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>
  </div>
</div>
