@import '~@angular/material/theming';

@include mat-core();

$custom-light-primary: mat-palette($mat-blue, 600);
$custom-light-accent: mat-palette($mat-pink, 600);
$custom-light-warn: mat-palette($mat-red);

$custom-light-theme: mat-light-theme($custom-light-primary, $custom-light-accent, $custom-light-warn);

@include angular-material-theme($custom-light-theme);
